---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$accent-color: #bc0000;
$timelinecolor: #f2f2f2;

body {
  line-height: 2;
}

h1 {
  text-align: center
}

/* Team grid ================================================ */


.teamgrid {
  @include clearfix();
  margin-bottom: 2em;
}

.teamgrid__item {
  position: relative;
  margin-bottom: 1em;
  text-align: center;

  @include breakpoint($small) {
    float: left;
    margin-bottom: 1em;
    width: span(6 of 12);

    &:nth-child(2n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-left: gutter(of 12);
    }
  }

  .teamgrid__item-body {
    padding-left: gutter(1 of 12);
    padding-right: gutter(1 of 12);

    .name {
      font-weight: bold;
    }

    .team__urls {
      color: $muted-text-color;
      font-size: 0.8em;

      a {
        margin-bottom: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        color: inherit;
        font-size: $type-size-5;
        text-decoration: none;
    
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Timeline ================================================= */

.timeline {
  box-sizing: border-box;

  li {
    margin: 0;
    padding: 0 20px 20px 30px;
    list-style: none;
    border-left: 2px solid $timelinecolor;
  }

  li::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    margin-top: 18px;
    margin-left: -35px;
    width: 8px;
    height: 8px;
    border: solid 2px $accent-color; /* TODO use accent color here */
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: $background-color;
  }

  li:first-child::before {
      border: 0;
      background: none;
      position: relative;
  }
  li:first-child i {
      float: left;
      margin: -12px -55px;
      width: 50px;
      height: 50px;
      border-radius: 30px;
      line-height: 50px;
      font-size: 20px;
      background-color: $accent-color;
      color: white;
  }

  h3 {
      margin: 0px 0px 0.5em 25px;
      margin-left: 25px;
      font-size: 20px;
      text-transform: uppercase;
  }

  li:last-child {
      padding: 0 20px 0px 30px;
  }

  div {
    background-color: $timelinecolor;
    padding: 0.8em;
    line-height: 1.5;
  }
}
